<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Фитнес Интелект</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
   
    <style>
       
        nav.navbar {
            background-color: #343a40 !important;
            width: 100%;
            padding: 10px 20px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
            position: sticky; 
            top: 0;
            z-index: 1000;
        }

       
        .navbar-nav {
            display: flex;
            gap: 20px;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            .navbar-nav .nav-link {
                color: #ffffff !important;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                padding: 10px 15px;
                border-radius: 5px;
                transition: background-color 0.3s, transform 0.3s;
            }

                .navbar-nav .nav-link:hover {
                    background-color: #f39c12;
                    color: #ffffff !important;
                    transform: scale(1.05); 
                }

       
        .navbar-brand {
            color: #ffffff !important;
            font-size: 22px;
            font-weight: bold;
            text-transform: uppercase;
            transition: color 0.3s;
        }

            .navbar-brand:hover {
                color: #f39c12 !important;
            }

   
        .navbar-nav .nav-link i {
            margin-right: 8px;
            color: #f39c12;
        }

       
        body {
            background-color: #f8f9fa; 
            color: #ecf0f1; 
        }

        
        .container {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        }

    
    </style>
</head>
<body>
    <header class="header-style">
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Фитнес Интелект</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Dietitian"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Dietitian" asp-controller="MyRequest" asp-action="All"><i class="fa fa-home"></i> Моите Заявки</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" asp-area="Dietitian" asp-controller="Account" asp-action="MyProfile"><i class="fa fa-envelope"></i>Моят профил</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Dietitian" asp-controller="Diet" asp-action="All"><i class="fas fa-utensils me-2"></i>Моите хранителни режими</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Dietitian" asp-controller="Diet" asp-action="AllRejectedDiet"><i class="fas fa-utensils me-2"></i>Отказани хранителни режими</a>

                            </li>
                        }
                        else
                        {
                        @if (!User.Identity.IsAuthenticated)
                            {
                             
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Начало</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs"><i class="fa fa-user-shield"></i> За Нас</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact"><i class="fa fa-envelope"></i> Контакти</a>
                                </li>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                           
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Треньори
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/Trainer/All">Нашите треньори</a></li>
                                        <li><a class="dropdown-item" href="/Home/HowWeWork">Как работим</a></li>
                                    </ul>
                                </li>
                           
                           
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Диетолози
                                    </a>
                                    <ul class="dropdown-menu">
                           
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Dietitian" asp-action="All">Нашите диетолози</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="HowWeWorkDietitian">Как работим</a></li>
                           
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="MyProfile"><i class="fa fa-envelope"></i>Моят Профил</a>
                                </li>
                            }
                            
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
